<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <!-- General description of the web application -->

    <display-name>GeekBase</display-name>
    <description>
        Nothing so far
    </description>


    <!-- Context initialization parameters that define shared
         String constants used within your application, which
         can be customized by the system administrator who is
         installing your application.  The values actually
         assigned to these parameters can be retrieved in a
         servlet or JSP page by calling:

             String value =
               getServletContext().getInitParameter("name");

         where "name" matches the <param-name> element of
         one of these initialization parameters.

         You can define any number of context initialization
         parameters, including zero.
    -->

    <context-param>
      <param-name>webmaster</param-name>
      <param-value>keenon@stanford.edu</param-value>
      <description>
        The EMAIL address of the administrator to whom questions
        and comments about this application should be addressed.
      </description>
    </context-param>


    <!-- Servlet definitions for the servlets that make up
         your web application, including initialization
         parameters.  With Tomcat, you can also send requests
         to servlets not listed here with a request like this:

           http://localhost:8080/{context-path}/servlet/{classname}

         but this usage is not guaranteed to be portable.  It also
         makes relative references to images and other resources
         required by your servlet more complicated, so defining
         all of your servlets (and defining a mapping to them with
         a servlet-mapping element) is recommended.

          <init-param>
            <param-name>listOrders</param-name>
            <param-value>com.mycompany.myactions.ListOrdersAction</param-value>
          </init-param>

         Servlet initialization parameters can be retrieved in a
         servlet or JSP page by calling:

             String value =
               getServletConfig().getInitParameter("name");

         where "name" matches the <param-name> element of
         one of these initialization parameters.

         You can define any number of servlets, including zero.
    -->

    <servlet>
      <servlet-name>login</servlet-name>
      <servlet-class>chatbox.LoginServlet</servlet-class>
      <!-- Load this servlet at server startup time -->
      <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>login</servlet-name>
      <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>createAccount</servlet-name>
      <servlet-class>chatbox.CreateAccountServlet</servlet-class>
      <!-- Load this servlet at server startup time -->
      <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>createAccount</servlet-name>
      <url-pattern>/createaccount</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>logout</servlet-name>
      <servlet-class>chatbox.LogoutServlet</servlet-class>
      <!-- Load this servlet at server startup time -->
      <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>logout</servlet-name>
      <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>activate</servlet-name>
      <servlet-class>chatbox.ActivateServlet</servlet-class>
      <!-- Load this servlet at server startup time -->
      <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>activate</servlet-name>
      <url-pattern>/activate</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>reset</servlet-name>
      <servlet-class>chatbox.ResetAccountServlet</servlet-class>
      <!-- Load this servlet at server startup time -->
      <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>reset</servlet-name>
      <url-pattern>/reset</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>manage</servlet-name>
      <servlet-class>chatbox.ManageServlet</servlet-class>
      <!-- Load this servlet at server startup time -->
      <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>manage</servlet-name>
      <url-pattern>/manage</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>createproject</servlet-name>
      <servlet-class>chatbox.CreateProjectServlet</servlet-class>
      <!-- Load this servlet at server startup time -->
      <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>createproject</servlet-name>
      <url-pattern>/createproject</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>project</servlet-name>
      <servlet-class>chatbox.ProjectServlet</servlet-class>
      <!-- Load this servlet at server startup time -->
      <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>project</servlet-name>
      <url-pattern>/project</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>invite</servlet-name>
      <servlet-class>chatbox.InviteServlet</servlet-class>
      <!-- Load this servlet at server startup time -->
      <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>invite</servlet-name>
      <url-pattern>/invite</url-pattern>
    </servlet-mapping>

    <servlet>
      <servlet-name>chat</servlet-name>
      <servlet-class>chatbox.ChatWebSocketServlet</servlet-class>
      <!-- Load this servlet at server startup time -->
      <load-on-startup>5</load-on-startup>
      <!-- Sets Buffer to 20mb instead of 2mb -->
      <init-param>
        <param-name>byteBufferMaxSize</param-name>
        <param-value>20971520</param-value>
      </init-param>
      <init-param>
        <param-name>charBufferMaxSize</param-name>
        <param-value>20971520</param-value>
      </init-param>
    </servlet>

    <servlet-mapping>
      <servlet-name>chat</servlet-name>
      <url-pattern>/chat</url-pattern>
    </servlet-mapping>

    <!-- Define the default session timeout for your application,
         in minutes.  From a servlet or JSP page, you can modify
         the timeout for a particular session dynamically by using
         HttpSession.getMaxInactiveInterval(). -->

    <session-config>
      <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>

    <security-constraint>
        <url-pattern>/</url-pattern> <!-- define all url patterns that need to be protected-->

        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

</web-app>
