html, body{
    text-align:center;
    width:100%;
   height:100%;
    margin:auto;
   background: #7abcff; /* Old browsers */
background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */ 
}

.title{
    margin:10px;
}
.topBar{
margin:0px;
padding-top:60px;
padding-bottom:60px;
color: white;
}

.textBox1{
    width:100%;
    height:auto;
    background-color:#F8F8F8;
    text-align-center;
    padding:0px;
    padding-top:30px;
    padding-bottom:30px;
    margin:0px auto;
}
#textBox{
    font-family: 'Inconsolata', sans-serif;
    font-size: 16pt;
    height:600px;
    width:70%;
    max-width:800px;
    resize: none;
    margin-left:15%;
    margin-right:15%;
}i
textArea{
    outline:none; 
}
button{
    width: 100px;
    margin: 10px;
}

.footer{
    position:absolute;
    top:97%;
    left:1%;
    font-weight: normal;
    color:white;
    text-shadow: 1px 1px rgba(0,0,0,.25);
}

.
