.rounded {
    /* Add a rounded border */
    border:3px solid #999;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -opera-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;

    /* Make A Dropshadow for our Boxes */
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

.unselectable {
    /* Make text unselectable */
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.whiteboard {
    background-color: #ddd;
}

.textbox {
    padding:2px;
    background-color: #ff7;
}

.todo {
    padding:4px;
    background-color: #ccc;
}

.clipped {
    overflow:hidden;
}

.todoUpperButton {
    width:100%;
    height:25px;
    position:absolute;
    left:0px;
    top:0px;
}

.todoLowerButton {
    width:100%;
    height:25px;
    position:absolute;
    left:0px;
    bottom:0px;
}

.todoContentZone {
    padding-top:25px;
    padding-bottom:25px;
}

.chatSays {
    height:100px;
    overflow-x:hidden;
    overflow-y:scroll;
    width:100%;
    background-color: #ccc;
}
